@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #aad03a 0%, #28bebc 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

* {
  line-height: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  text-transform: none !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.react-tel-input .special-label {
  background: #ebf3e4 !important;
}

.react-tel-input .form-control:focus {
  border-color: #28bebc !important;
  box-shadow: 0 0 0 1px #28bebc !important;
}
